workflows/template-a-aem-release-gate.json
{
  "name": "AEM Release Gate (MVP)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "credentialType": "aem65",
        "healthEndpoint": "/system/health",
        "timeoutMs": 10000,
        "options": {
          "failOnUnhealthy": true
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "AEM Health Check",
      "type": "n8n-nodes-aem-ops.aemHealthCheck",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "aem65Credentials": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AEM 6.5 Author"
        }
      }
    },
    {
      "parameters": {
        "credentialType": "aem65",
        "action": "activate",
        "pathInputType": "manual",
        "pathsText": "/content/mysite/en/home\n/content/mysite/en/about\n/content/mysite/en/contact",
        "dryRun": true,
        "options": {
          "batchSize": 5,
          "throttleMs": 200,
          "failOnError": true
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "AEM Replicate",
      "type": "n8n-nodes-aem-ops.aemReplicate",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "aem65Credentials": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AEM 6.5 Author"
        }
      }
    },
    {
      "parameters": {
        "urlInputType": "manual",
        "urlsText": "https://www.example.com/content/mysite/en/home.html\nhttps://www.example.com/content/mysite/en/about.html\nhttps://www.example.com/content/mysite/en/contact.html",
        "method": "PURGE",
        "allowlistRegex": "^https?://.*\\.example\\.com/.*$",
        "dryRun": true,
        "options": {
          "timeoutMs": 5000,
          "failOnError": false
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "AEM Cache Purge",
      "type": "n8n-nodes-aem-ops.aemCachePurge",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "channel": "#deployments",
        "text": "=🚀 *AEM Release Gate Complete*\n\n*Health Check:*\n• Status: {{ $('AEM Health Check').item.json.ok ? '✅ Healthy' : '❌ Unhealthy' }}\n• Latency: {{ $('AEM Health Check').item.json.latencyMs }}ms\n• URL: {{ $('AEM Health Check').item.json.checkedUrl }}\n\n*Replication:*\n• Total Paths: {{ $('AEM Replicate').item.json.totalPaths }}\n• Success: {{ $('AEM Replicate').item.json.successCount }}\n• Failed: {{ $('AEM Replicate').item.json.failureCount }}\n• Dry Run: {{ $('AEM Replicate').item.json.dryRun }}\n\n*Cache Purge:*\n• Total URLs: {{ $('AEM Cache Purge').item.json.totalUrls }}\n• Success: {{ $('AEM Cache Purge').item.json.successCount }}\n• Failed: {{ $('AEM Cache Purge').item.json.failureCount }}\n• Dry Run: {{ $('AEM Cache Purge').item.json.dryRun }}\n\n*Timestamp:* {{ $now.toISO() }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Slack - Send Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "AEM Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AEM Health Check": {
      "main": [
        [
          {
            "node": "AEM Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AEM Replicate": {
      "main": [
        [
          {
            "node": "AEM Cache Purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AEM Cache Purge": {
      "main": [
        [
          {
            "node": "Slack - Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AEM",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "DevOps",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
