workflows/template-b-aem-nightly-ops-check.json
{
  "name": "AEM Nightly Ops Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "b1c2d3e4-0002-0002-0002-000000000001",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "credentialType": "aem65",
        "healthEndpoint": "/system/health",
        "timeoutMs": 15000,
        "options": {
          "failOnUnhealthy": false
        }
      },
      "id": "b1c2d3e4-0002-0002-0002-000000000002",
      "name": "AEM Health Check",
      "type": "n8n-nodes-aem-ops.aemHealthCheck",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "aem65Credentials": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "AEM 6.5 Author"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b1c2d3e4-0002-0002-0002-000000000003",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "channel": "#aem-alerts",
        "text": "=🔴 *AEM HEALTH CHECK FAILED*\n\n*Status:* ❌ Unhealthy\n*Checked URL:* {{ $('AEM Health Check').item.json.checkedUrl }}\n*Status Code:* {{ $('AEM Health Check').item.json.statusCode }}\n*Latency:* {{ $('AEM Health Check').item.json.latencyMs }}ms\n\n*Notes:*\n{{ $('AEM Health Check').item.json.notes.join('\\n• ') }}\n\n*Timestamp:* {{ $('AEM Health Check').item.json.timestamp }}\n\n⚠️ Please investigate immediately!",
        "otherOptions": {
          "includeLinkToWorkflow": true,
          "mrkdwn": true
        }
      },
      "id": "b1c2d3e4-0002-0002-0002-000000000004",
      "name": "Slack - Alert Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [900, 400],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {},
      "id": "b1c2d3e4-0002-0002-0002-000000000005",
      "name": "No Action (Healthy)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "AEM Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AEM Health Check": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "No Action (Healthy)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Alert Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AEM",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Monitoring",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
